<template>
  <section>
    <div class="container">
      <h1 class="title">Appointments</h1>
      <h3>
        Hoş Geldin ,
        <b>{{name}}</b>
      </h3>
      <br />
      <br />
      <b-table
        :data="isEmpty ? [] : getAppointments"
        :bordered="isBordered"
        :striped="isStriped"
        :narrowed="isNarrowed"
        :hoverable="isHoverable"
        :loading="isLoading"
        :focusable="isFocusable"
        :mobile-cards="hasMobileCards"
      >
        <template slot-scope="props">
          <b-table-column field="email" label="Email">{{ props.row.email }}</b-table-column>
          <b-table-column field="first_name" label="First Name">{{ props.row.name }}</b-table-column>
          <b-table-column field="last_name" label="Last Name">{{ props.row.surname }}</b-table-column>
          <b-table-column field="phone" label="Phone">{{ props.row.phone }}</b-table-column>
          <b-table-column field="From" label="From">{{ props.row.from }}</b-table-column>
          <b-table-column field="To" label="To">{{ props.row.to }}</b-table-column>
          <b-table-column field="ArrivalTime" label="Arrival Time">
            <b-tag type="is-info">{{ props.row.arrival_time }}</b-tag>
          </b-table-column>

          <b-table-column field="date" label="Date" centered>
            <span class="tag is-success">{{ new Date(props.row.date).toLocaleDateString() }}</span>
          </b-table-column>
          <b-table-column field="edit" label="Edit">
            <b-button v-on:click="editButtonClick(props.row.id)" type="is-primary">Edit</b-button>
          </b-table-column>
        </template>

        <template slot="empty">
          <section class="section">
            <div class="content has-text-grey has-text-centered">
              <p>
                <b-icon icon="emoticon-sad" size="is-large"></b-icon>
              </p>
              <p>Loading Or Empty</p>
            </div>
          </section>
        </template>
      </b-table>
    </div>
  </section>
</template>

<script>
export default {
  name: "Appointments",
  props: {},
  created() {
    this.$store.dispatch("retrieveAppointments");
    this.$store.dispatch("retrieveName").then(response => {
      this.name = response.data.name;
    });
  },
  data() {
    return {
      name: "",
      isEmpty: false,
      isBordered: false,
      isStriped: false,
      isNarrowed: false,
      isHoverable: false,
      isFocusable: false,
      isLoading: false,
      hasMobileCards: true
    };
  },
  computed: {
    getAppointments() {
      return this.$store.getters.getAppointments;
    }
  },
  methods: {
    editButtonClick(id) {
      this.$router.push({ name: "appointment", params: { id: id } });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
