<template>
  <section>
    <div class="container">
      <h1 class="title">Edit Appointment</h1>
      <template>
        <section>
          <div class="block">
            <b-button
              style="float:right;"
              type="light"
              v-on:click="nextButtonClick()"
            >{{this.activeStep == 1 ? "Save":"Next >"}}</b-button>
          </div>

          <b-steps v-model="activeStep" :animated="isAnimated" :has-navigation="hasNavigation">
            <b-loading :is-full-page="false" :active.sync="isLoading" :can-cancel="false"></b-loading>
            <b-step-item label="Account" :clickable="isStepsClickable">
              <div style="width: 500px;" class="container media-content">
                <b-field label="Name">
                  <b-input v-model="getAppointment.name"></b-input>
                </b-field>

                <b-field label="Email">
                  <b-input type="email" v-model="getAppointment.email" maxlength="30"></b-input>
                </b-field>

                <b-field label="Phone">
                  <b-input value v-model="getAppointment.phone" maxlength="30"></b-input>
                </b-field>
                <nav class="level">
                  <div class="level-item">
                    <b-field label="Date">
                      <b-datepicker
                        v-model="getAppointment.date"
                        placeholder="Click to select..."
                        icon="calendar-today"
                      ></b-datepicker>
                    </b-field>
                  </div>
                  <div class="level-item">
                    <b-field label="Time">
                      <b-timepicker
                        v-model="getAppointment.date"
                        placeholder="Type or select a date..."
                        icon="clock"
                        editable
                      ></b-timepicker>
                    </b-field>
                  </div>
                </nav>
              </div>
            </b-step-item>

            <b-step-item
              label="Destionation"
              :clickable="isStepsClickable"
              :type="{'is-success': isProfileSuccess}"
              class="container"
            >
            <div class="container media-content">
              <GmapMap
                :center="{lat:39.755997, lng: 30.495042}"
                :zoom="7"
                map-type-id="terrain"
                style="width: 600px; height: 500px"
              >
                <GmapMarker
                  :key="index"
                  v-for="(m, index) in markers"
                  :position="m.position"
                  :clickable="true"
                  :draggable="true"
                  @click="center=m.position"
                />
              </GmapMap>
              </div>
            </b-step-item>
          </b-steps>
        </section>
      </template>
    </div>
  </section>
</template>


<script>
export default {
  name: "Appointment",
  props: {},
  created() {
    if (this.$route.params.id == 0) {
      this.$store.dispatch("newAppointment");
    } else {
      this.$store.dispatch("appointmentById", this.$route.params.id);
    }
  },
  data() {
    return {
      appointment: {},
      activeStep: 0,
      isAnimated: true,
      hasNavigation: false,
      isStepsClickable: true,
      isLoading: false,
      isProfileSuccess: false,

     
      markers: [],
      places: [],
      currentPlace: null
    };
  },
  computed: {
    getAppointment() {
      return this.$store.getters.getSelectedAppointment;
    }
  },
  methods: {
    nextButtonClick() {
      console.log(this.$store.getters.getSelectedAppointment.date);
      if (this.activeStep == 0) {
        this.activeStep++;
      } else {
        this.saveOrUpdate();
      }
    },
    saveOrUpdate() {
      if (this.$route.params.id == 0) {
        this.save();
      } else {
        this.update();
      }
    },
    save() {
      this.isLoading = true;
      this.$store
        .dispatch("saveAppointment", {
          data: this.getAppointment
        })
        .then(response => {
          this.isLoading = false;
          this.$snackbar.open(`Saved`);
          this.activeStep = 0;
          return this.$router.push({
            name: "appointment",
            params: { id: response.data.id }
          });
        })
        .catch(error => {
          this.isLoading = false;
          this.serverError = error.response.data;
          this.password = "";
          this.successMessage = "";
          this.$snackbar.open(`error When data saved`);
        });
    },
    update() {
      this.isLoading = true;
      this.$store
        .dispatch("updateAppointment", {
          data: this.getAppointment
        })
        .then(response => {
          this.isLoading = false;
          this.$snackbar.open(`Updated`);
          this.activeStep = 0;
        })
        .catch(error => {
          this.isLoading = false;
          this.serverError = error.response.data;
          this.password = "";
          this.successMessage = "";
          this.$snackbar.open(`error When data update`);
        });
    }
  }
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
