<template>
  <section>
    <div class="container">
      <h1 class="title">IceBerg Login</h1>
      <br />
      <form action="#" @submit.prevent="login">
         <b-loading :is-full-page="isFullPage" :active.sync="isLoading" :can-cancel="true"></b-loading>
        <b-field label="Email">
          <b-input type="email" v-model="username" maxlength="30"></b-input>
        </b-field>
        <b-field label="Password">
          <b-input type="password" v-model="password" maxlength="30"></b-input>
        </b-field>
        <p class="control level-right">
          <button class="button is-primary">Login</button>
        </p>
      </form>
    </div>
  </section>
</template>

<script>
export default {
  name: "Login",
  props: {
    msg: String
  },
  data() {
    return {
      username: "prudence32@example.net",
      password: "password",
      serverError: "",
      successMessage: this.dataSuccessMessage,
      isLoading: false,
      isFullPage:true,
    };
  },
  methods: {
    login() {
      this.isLoading = true;
      this.$store
        .dispatch("retrieveToken", {
          username: this.username,
          password: this.password
        }).then(response => {
          this.isLoading = false;
          this.$snackbar.open(`Giriş Başarılı.`)
          this.$router.push({ name: "appointments" });
        })
        .catch(error => {
          this.isLoading = false;
          this.serverError = error.response.data;
          this.password = "";
          this.successMessage = "";
          this.$snackbar.open(`Kullanıcı Adı Veya Şifre Hatalı`)
        });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.main {
  width: 300px;
  height: 500px;
}
.container {
  width: 300px;
}
</style>
