<template>
    <Appointments/>
</template>

<script>
// @ is an alias to /src
import Appointments from '@/components/Appointments.vue';

export default {
  name: 'appointments',
  components: {
    Appointments,
  },
};
</script>
