<template>
    <Appointment/>
</template>

<script>
// @ is an alias to /src
import Appointment from '@/components/Appointment.vue';

export default {
  name: 'appointment',
  components: {
    Appointment,
  },
};
</script>
